* {
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 173, 5);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.weather {
    width: 20%;
    height: 200px;
    background-color: rgb(241, 235, 235);
    padding: 10px;
}