* {
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 173, 5);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-around;
}